doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/state/state.css')
        link(rel='stylesheet', href='/lib/styles/style.css')
        script(src='/lib/zepto/zepto.js')
body
    script(src='/javascripts/state/state.js')
    .bar
        .description
            img#carimg(src="/lib/car/audi_white.jpg")
            #ctitle.car_title=__('audi_car') + ' [' +__('white') + ']'
            #num.order_number=14332456
    .line
    .car
      img(src="/images/car.jpg")
    #status1(class=['tag','tag_left','ready'])
        .text= __('state1')
    #status2(class=['tag','tag_right','ready'])
        .text= __('state2')
    #status3(class=['tag','tag_left','ready'])
        .text= __('state3')
    .slides
        - for(var i = 1;i < 11;i++) {
            .slide
                .details= __('operation' + i)
        - }
    .empty
    .bottom-line
    #status4(class=['tag','tag_right','ready'])
        .text= __('state4')
    .complete
        p= __('end1')
        p= __('end2')

